{
  "env": {
    "node": true
  },
  "globals": {
    "afterEach": true,
    "beforeEach": true,
    "console": true,
    "describe": true,
    "expect": true,
    "it": true,
    "xit": true
  },
  "rules": {
    "block-scoped-var": true,
    "brace-style": [2, "1tbs"],
    "consistent-return": true,
    "consistent-this": [0, "self"],
    "curly": true,
    "eol-last": false,
    "no-else-return": true,
    "no-eq-null": true,
    "no-extra-parens": true,
    "no-floating-decimal": true,
    "no-lonely-if": true,
    "no-mixed-spaces-and-tabs": [2, true],
    "no-nested-ternary": true,
    "no-path-concat": true,
    "no-redeclare": true,
    "no-self-compare": true,
    "no-space-before-semi": true,
    "no-trailing-spaces": true,
    "no-undefined": true,
    "no-underscore-dangle": false,
    "no-unused-vars": [2, {
      "args": "none",
      "vars": "all"
    }],
    "no-use-before-define": "nofunc",
    "quotes": [1, "double", "avoid-escape"],
    "radix": true,
    "semi": [2, "always"],
    "sort-vars": true,
    "space-after-keywords": "always",
    "space-unary-word-ops": true,
    "strict": 2,
    "wrap-iife": [2, "inside"]
  }
}